<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845251275669-fqelkmaueu3b1fkpqdvgec5almrio1t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845251275669-fqelkmaueu3b1fkpqdvgec5almrio1t0</string>
	<key>API_KEY</key>
	<string>AIzaSyA0YphEgnUOhikgS-CM6NmqXcybJVLdNBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>845251275669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kassemabboud.findIt</string>
	<key>PROJECT_ID</key>
	<string>findit-dcb91</string>
	<key>STORAGE_BUCKET</key>
	<string>findit-dcb91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:845251275669:ios:e22453414f377876</string>
	<key>DATABASE_URL</key>
	<string>https://findit-dcb91.firebaseio.com</string>
</dict>
</plist>
